
### KERNEL MODULES ###

# Network Support
CONFIG_PACKAGE_kmod-9pnet=m
CONFIG_PACKAGE_kmod-9pvirtio=m
CONFIG_PACKAGE_kmod-atm=m
CONFIG_PACKAGE_kmod-atmtcp=m
CONFIG_PACKAGE_kmod-ax25=m
CONFIG_PACKAGE_kmod-batman-adv=m
CONFIG_PACKAGE_kmod-bonding=m
CONFIG_PACKAGE_kmod-bpf-test=m
CONFIG_PACKAGE_kmod-dnsresolver=m
CONFIG_PACKAGE_kmod-fast-classifier=m
CONFIG_PACKAGE_kmod-fou=m
CONFIG_PACKAGE_kmod-fou6=m
CONFIG_PACKAGE_kmod-geneve=m
CONFIG_PACKAGE_kmod-gre=m
CONFIG_PACKAGE_kmod-gre6=m
CONFIG_PACKAGE_kmod-inet-diag=y
CONFIG_PACKAGE_kmod-inet-mptcp-diag=m
CONFIG_PACKAGE_kmod-ip-vti=m
CONFIG_PACKAGE_kmod-ip6-tunnel=m
CONFIG_PACKAGE_kmod-ip6-vti=m
CONFIG_PACKAGE_kmod-ipip=m
CONFIG_PACKAGE_kmod-ipoa=m
CONFIG_PACKAGE_kmod-ipsec=y
CONFIG_PACKAGE_kmod-ipsec4=m
CONFIG_PACKAGE_kmod-ipsec6=m
CONFIG_PACKAGE_kmod-iptunnel6=m
CONFIG_PACKAGE_kmod-jool-netfilter=m
CONFIG_PACKAGE_kmod-l2tp=m
CONFIG_PACKAGE_kmod-l2tp-eth=m
CONFIG_PACKAGE_kmod-l2tp-ip=m
CONFIG_PACKAGE_kmod-macremapper=m
CONFIG_PACKAGE_kmod-macsec=m
CONFIG_PACKAGE_kmod-mdio-netlink=m
CONFIG_PACKAGE_kmod-misdn=m
CONFIG_PACKAGE_kmod-mpls=m
CONFIG_PACKAGE_kmod-nat46=m
CONFIG_PACKAGE_kmod-netconsole=m
CONFIG_PACKAGE_kmod-netem=m
CONFIG_PACKAGE_kmod-netlink-diag=y
CONFIG_PACKAGE_kmod-nlmon=m
CONFIG_PACKAGE_kmod-nsh=m
CONFIG_PACKAGE_kmod-openvswitch=m
CONFIG_PACKAGE_kmod-openvswitch-geneve=m
CONFIG_PACKAGE_kmod-openvswitch-geneve-intree=m
CONFIG_PACKAGE_kmod-openvswitch-gre=m
CONFIG_PACKAGE_kmod-openvswitch-gre-intree=m
CONFIG_PACKAGE_kmod-openvswitch-intree=m
CONFIG_PACKAGE_kmod-openvswitch-lisp-intree=m
CONFIG_PACKAGE_kmod-openvswitch-stt-intree=m
CONFIG_PACKAGE_kmod-openvswitch-vxlan=m
CONFIG_PACKAGE_kmod-openvswitch-vxlan-intree=m
CONFIG_PACKAGE_kmod-ovpn-dco-v2=m
CONFIG_PACKAGE_kmod-pf-ring=m
CONFIG_PACKAGE_kmod-pktgen=m
CONFIG_PACKAGE_kmod-ppp=y
CONFIG_PACKAGE_kmod-mppe=y
CONFIG_PACKAGE_kmod-ppp-synctty=m
CONFIG_PACKAGE_kmod-pppoa=m
CONFIG_PACKAGE_kmod-pppoe=y
CONFIG_PACKAGE_kmod-pppol2tp=m
CONFIG_PACKAGE_kmod-pppox=y
CONFIG_PACKAGE_kmod-pptp=m
CONFIG_PACKAGE_kmod-qrtr-mhi=m
CONFIG_PACKAGE_kmod-qrtr-tun=m
CONFIG_PACKAGE_kmod-sched=m
CONFIG_PACKAGE_kmod-sched-act-ipt=m
CONFIG_PACKAGE_kmod-sched-act-police=m
CONFIG_PACKAGE_kmod-sched-act-sample=m
CONFIG_PACKAGE_kmod-sched-act-vlan=m
CONFIG_PACKAGE_kmod-sched-bpf=y
CONFIG_PACKAGE_kmod-sched-cake=m
CONFIG_PACKAGE_kmod-sched-connmark=m
CONFIG_PACKAGE_kmod-sched-core=y
CONFIG_PACKAGE_kmod-sched-ctinfo=m
CONFIG_PACKAGE_kmod-sched-drr=m
CONFIG_PACKAGE_kmod-sched-flower=m
CONFIG_PACKAGE_kmod-sched-fq-pie=m
CONFIG_PACKAGE_kmod-sched-ipset=m
CONFIG_PACKAGE_kmod-sched-mqprio=m
CONFIG_PACKAGE_kmod-sched-pie=m
CONFIG_PACKAGE_kmod-sched-prio=m
CONFIG_PACKAGE_kmod-sched-red=m
CONFIG_PACKAGE_kmod-sched-skbprio=m
CONFIG_PACKAGE_kmod-sctp=m
CONFIG_PACKAGE_kmod-shortcut-fe=m
CONFIG_PACKAGE_kmod-shortcut-fe-cm=m
CONFIG_PACKAGE_kmod-sit=m
CONFIG_PACKAGE_kmod-slip=m
CONFIG_PACKAGE_kmod-tcp-bbr=m
CONFIG_PACKAGE_kmod-tcp-hybla=m
CONFIG_PACKAGE_kmod-tcp-scalable=m
CONFIG_PACKAGE_kmod-tls=m
CONFIG_PACKAGE_kmod-trelay=m
CONFIG_PACKAGE_kmod-tun=y
CONFIG_PACKAGE_kmod-veth=y
CONFIG_PACKAGE_kmod-vrf=m
CONFIG_PACKAGE_kmod-vxlan=y
CONFIG_PACKAGE_kmod-wireguard=m
CONFIG_PACKAGE_kmod-xdp-sockets-diag=y
CONFIG_PACKAGE_kmod-xfrm-interface=m

# Filesystems
CONFIG_PACKAGE_kmod-fs-9p=m
CONFIG_PACKAGE_kmod-fs-afs=m
CONFIG_PACKAGE_kmod-fs-autofs4=m
CONFIG_PACKAGE_kmod-fs-btrfs=y
CONFIG_PACKAGE_kmod-fs-cifs=m
CONFIG_PACKAGE_kmod-fs-configfs=m
CONFIG_PACKAGE_kmod-fs-cramfs=m
CONFIG_PACKAGE_kmod-fs-exfat=y
CONFIG_PACKAGE_kmod-fs-exportfs=m
CONFIG_PACKAGE_kmod-fs-ext4=y
CONFIG_PACKAGE_kmod-fs-f2fs=m
CONFIG_PACKAGE_kmod-fs-fscache=m
CONFIG_PACKAGE_kmod-fs-hfs=m
CONFIG_PACKAGE_kmod-fs-hfsplus=m
CONFIG_PACKAGE_kmod-fs-isofs=m
CONFIG_PACKAGE_kmod-fs-jfs=m
CONFIG_PACKAGE_kmod-fs-ksmbd=m
CONFIG_PACKAGE_kmod-fs-minix=m
CONFIG_PACKAGE_kmod-fs-msdos=m
CONFIG_PACKAGE_kmod-fs-netfs=m
CONFIG_PACKAGE_kmod-fs-nfs=m
CONFIG_PACKAGE_kmod-fs-nfs-common=y
CONFIG_PACKAGE_kmod-fs-nfs-common-rpcsec=m
CONFIG_PACKAGE_kmod-fs-nfs-v3=m
CONFIG_PACKAGE_kmod-fs-nfs-v4=m
CONFIG_PACKAGE_kmod-fs-nfsd=m
CONFIG_PACKAGE_kmod-fs-ntfs=m
CONFIG_PACKAGE_kmod-fs-ntfs3=y
CONFIG_PACKAGE_kmod-fs-reiserfs=m
CONFIG_PACKAGE_kmod-fs-squashfs=m
CONFIG_PACKAGE_kmod-fs-udf=m
CONFIG_PACKAGE_kmod-fs-vfat=y
CONFIG_PACKAGE_kmod-fs-xfs=m
CONFIG_PACKAGE_kmod-fuse=m
CONFIG_PACKAGE_kmod-pstore=m

# USB Support
CONFIG_PACKAGE_kmod-chaoskey=m
CONFIG_PACKAGE_kmod-usb-acm=m
CONFIG_PACKAGE_kmod-usb-atm=m
CONFIG_PACKAGE_kmod-usb-atm-cxacru=m
CONFIG_PACKAGE_kmod-usb-atm-speedtouch=m
CONFIG_PACKAGE_kmod-usb-atm-ueagle=m
CONFIG_PACKAGE_kmod-usb-cdns=m
CONFIG_PACKAGE_kmod-usb-cdns3=m
CONFIG_PACKAGE_kmod-usb-cm109=m
CONFIG_PACKAGE_kmod-usb-core=y
CONFIG_PACKAGE_kmod-usb-dwc2=m
CONFIG_PACKAGE_kmod-usb-dwc2-pci=m
CONFIG_PACKAGE_kmod-usb-dwc3=m
CONFIG_PACKAGE_kmod-usb-gadget-cdc-composite=m
CONFIG_PACKAGE_kmod-usb-gadget-ehci-debug=m
CONFIG_PACKAGE_kmod-usb-gadget-eth=m
CONFIG_PACKAGE_kmod-usb-gadget-hid=m
CONFIG_PACKAGE_kmod-usb-gadget-mass-storage=m
CONFIG_PACKAGE_kmod-usb-gadget-ncm=m
CONFIG_PACKAGE_kmod-usb-gadget-serial=m
CONFIG_PACKAGE_kmod-usb-hid=m
CONFIG_PACKAGE_kmod-usb-hid-cp2112=m
CONFIG_PACKAGE_kmod-usb-hid-mcp2221=m
CONFIG_PACKAGE_kmod-usb-ledtrig-usbport=m
CONFIG_PACKAGE_kmod-usb-net=m
CONFIG_PACKAGE_kmod-usb-net-aqc111=m
CONFIG_PACKAGE_kmod-usb-net-asix=m
CONFIG_PACKAGE_kmod-usb-net-asix-ax88179=m
CONFIG_PACKAGE_kmod-usb-net-cdc-eem=m
CONFIG_PACKAGE_kmod-usb-net-cdc-ether=m
CONFIG_PACKAGE_kmod-usb-net-cdc-mbim=m
CONFIG_PACKAGE_kmod-usb-net-cdc-ncm=m
CONFIG_PACKAGE_kmod-usb-net-cdc-subset=m
CONFIG_PACKAGE_kmod-usb-net-dm9601-ether=m
CONFIG_PACKAGE_kmod-usb-net-hso=m
CONFIG_PACKAGE_kmod-usb-net-huawei-cdc-ncm=m
CONFIG_PACKAGE_kmod-usb-net-ipheth=m
CONFIG_PACKAGE_kmod-usb-net-kalmia=m
CONFIG_PACKAGE_kmod-usb-net-kaweth=m
CONFIG_PACKAGE_kmod-usb-net-lan78xx=m
CONFIG_PACKAGE_kmod-usb-net-mcs7830=m
CONFIG_PACKAGE_kmod-usb-net-pegasus=m
CONFIG_PACKAGE_kmod-usb-net-pl=m
CONFIG_PACKAGE_kmod-usb-net-qmi-wwan=m
CONFIG_PACKAGE_kmod-usb-net-rndis=m
CONFIG_PACKAGE_kmod-usb-net-rtl8150=m
CONFIG_PACKAGE_kmod-usb-net-rtl8152=m
CONFIG_PACKAGE_kmod-usb-net-rtl8152-vendor=m
CONFIG_PACKAGE_kmod-usb-net-sierrawireless=m
CONFIG_PACKAGE_kmod-usb-net-smsc75xx=m
CONFIG_PACKAGE_kmod-usb-net-smsc95xx=m
CONFIG_PACKAGE_kmod-usb-net-sr9700=m
CONFIG_PACKAGE_kmod-usb-net2280=m
CONFIG_PACKAGE_kmod-usb-ohci=m
CONFIG_PACKAGE_kmod-usb-ohci-pci=m
CONFIG_PACKAGE_kmod-usb-printer=m
CONFIG_PACKAGE_kmod-usb-serial=m
CONFIG_PACKAGE_kmod-usb-serial-ark3116=m
CONFIG_PACKAGE_kmod-usb-serial-belkin=m
CONFIG_PACKAGE_kmod-usb-serial-ch341=m
CONFIG_PACKAGE_kmod-usb-serial-cp210x=m
CONFIG_PACKAGE_kmod-usb-serial-cypress-m8=m
CONFIG_PACKAGE_kmod-usb-serial-dmx_usb_module=m
CONFIG_PACKAGE_kmod-usb-serial-edgeport=m
CONFIG_PACKAGE_kmod-usb-serial-ftdi=m
CONFIG_PACKAGE_kmod-usb-serial-garmin=m
CONFIG_PACKAGE_kmod-usb-serial-ipw=m
CONFIG_PACKAGE_kmod-usb-serial-keyspan=m
CONFIG_PACKAGE_kmod-usb-serial-mct=m
CONFIG_PACKAGE_kmod-usb-serial-mos7720=m
CONFIG_PACKAGE_kmod-usb-serial-mos7840=m
CONFIG_PACKAGE_kmod-usb-serial-option=m
CONFIG_PACKAGE_kmod-usb-serial-oti6858=m
CONFIG_PACKAGE_kmod-usb-serial-pl2303=m
CONFIG_PACKAGE_kmod-usb-serial-qualcomm=m
CONFIG_PACKAGE_kmod-usb-serial-sierrawireless=m
CONFIG_PACKAGE_kmod-usb-serial-simple=m
CONFIG_PACKAGE_kmod-usb-serial-ti-usb=m
CONFIG_PACKAGE_kmod-usb-serial-visor=m
CONFIG_PACKAGE_kmod-usb-serial-xr_usb_serial_common=m
CONFIG_PACKAGE_kmod-usb-storage=y
CONFIG_PACKAGE_kmod-usb-storage-extras=y
CONFIG_PACKAGE_kmod-usb-storage-uas=y
CONFIG_PACKAGE_kmod-usb-test=m
CONFIG_PACKAGE_kmod-usb-uhci=m
CONFIG_PACKAGE_kmod-usb-wdm=m
CONFIG_PACKAGE_kmod-usb-yealink=m
CONFIG_PACKAGE_kmod-usb2=m
CONFIG_PACKAGE_kmod-usb2-pci=m
CONFIG_PACKAGE_kmod-usb3=m
CONFIG_PACKAGE_kmod-usbip=m
CONFIG_PACKAGE_kmod-usbip-client=m
CONFIG_PACKAGE_kmod-usbip-server=m
CONFIG_PACKAGE_kmod-usbmon=m

# Cryptographic API modules
CONFIG_PACKAGE_kmod-crypto-aead=y
CONFIG_PACKAGE_kmod-crypto-arc4=y
CONFIG_PACKAGE_kmod-crypto-authenc=y
CONFIG_PACKAGE_kmod-crypto-cbc=y
CONFIG_PACKAGE_kmod-crypto-ccm=m
CONFIG_PACKAGE_kmod-crypto-chacha20poly1305=m
CONFIG_PACKAGE_kmod-crypto-cmac=m
CONFIG_PACKAGE_kmod-crypto-crc32c=y
CONFIG_PACKAGE_kmod-crypto-ctr=y
CONFIG_PACKAGE_kmod-crypto-cts=m
CONFIG_PACKAGE_kmod-crypto-deflate=y
CONFIG_PACKAGE_kmod-crypto-des=y
CONFIG_PACKAGE_kmod-crypto-ecb=y
CONFIG_PACKAGE_kmod-crypto-ecdh=m
CONFIG_PACKAGE_kmod-crypto-echainiv=y
CONFIG_PACKAGE_kmod-crypto-essiv=m
CONFIG_PACKAGE_kmod-crypto-fcrypt=m
CONFIG_PACKAGE_kmod-crypto-gcm=y
CONFIG_PACKAGE_kmod-crypto-gf128=y
CONFIG_PACKAGE_kmod-crypto-ghash=y
CONFIG_PACKAGE_kmod-crypto-hash=y
CONFIG_PACKAGE_kmod-crypto-hmac=y
CONFIG_PACKAGE_kmod-crypto-hw-atmel=m
CONFIG_PACKAGE_kmod-crypto-hw-hifn-795x=m
CONFIG_PACKAGE_kmod-crypto-hw-padlock=m
CONFIG_PACKAGE_kmod-crypto-kpp=m
CONFIG_PACKAGE_kmod-crypto-manager=y
CONFIG_PACKAGE_kmod-crypto-md4=m
CONFIG_PACKAGE_kmod-crypto-md5=y
CONFIG_PACKAGE_kmod-crypto-michael-mic=m
CONFIG_PACKAGE_kmod-crypto-misc=m
CONFIG_PACKAGE_kmod-crypto-null=y
CONFIG_PACKAGE_kmod-crypto-pcbc=m
CONFIG_PACKAGE_kmod-crypto-rmd160=m
CONFIG_PACKAGE_kmod-crypto-rng=y
CONFIG_PACKAGE_kmod-crypto-seqiv=y
CONFIG_PACKAGE_kmod-crypto-sha1=y
CONFIG_PACKAGE_kmod-crypto-sha256=m
CONFIG_PACKAGE_kmod-crypto-sha3=m
CONFIG_PACKAGE_kmod-crypto-sha512=y
CONFIG_PACKAGE_kmod-crypto-test=m
CONFIG_PACKAGE_kmod-crypto-user=y
CONFIG_PACKAGE_kmod-crypto-xcbc=m
CONFIG_PACKAGE_kmod-crypto-xts=m
CONFIG_PACKAGE_kmod-cryptodev=y

# Hardware Monitoring Support
CONFIG_PACKAGE_kmod-hwmon-ad7418=m
CONFIG_PACKAGE_kmod-hwmon-adcxx=m
CONFIG_PACKAGE_kmod-hwmon-adt7410=m
CONFIG_PACKAGE_kmod-hwmon-adt7475=m
CONFIG_PACKAGE_kmod-hwmon-core=m
CONFIG_PACKAGE_kmod-hwmon-dme1737=m
CONFIG_PACKAGE_kmod-hwmon-drivetemp=m
CONFIG_PACKAGE_kmod-hwmon-g762=m
CONFIG_PACKAGE_kmod-hwmon-gpiofan=m
CONFIG_PACKAGE_kmod-hwmon-gsc=m
CONFIG_PACKAGE_kmod-hwmon-ina209=m
CONFIG_PACKAGE_kmod-hwmon-ina2xx=m
CONFIG_PACKAGE_kmod-hwmon-it87=m
CONFIG_PACKAGE_kmod-hwmon-jc42=m
CONFIG_PACKAGE_kmod-hwmon-lm63=m
CONFIG_PACKAGE_kmod-hwmon-lm70=m
CONFIG_PACKAGE_kmod-hwmon-lm75=m
CONFIG_PACKAGE_kmod-hwmon-lm77=m
CONFIG_PACKAGE_kmod-hwmon-lm85=m
CONFIG_PACKAGE_kmod-hwmon-lm90=m
CONFIG_PACKAGE_kmod-hwmon-lm92=m
CONFIG_PACKAGE_kmod-hwmon-lm95241=m
CONFIG_PACKAGE_kmod-hwmon-ltc4151=m
CONFIG_PACKAGE_kmod-hwmon-max6642=m
CONFIG_PACKAGE_kmod-hwmon-max6697=m
CONFIG_PACKAGE_kmod-hwmon-mcp3021=m
CONFIG_PACKAGE_kmod-hwmon-nct7802=m
CONFIG_PACKAGE_kmod-hwmon-pwmfan=m
CONFIG_PACKAGE_kmod-hwmon-sch5627=m
CONFIG_PACKAGE_kmod-hwmon-sht21=m
CONFIG_PACKAGE_kmod-hwmon-sht3x=m
CONFIG_PACKAGE_kmod-hwmon-tc654=m
CONFIG_PACKAGE_kmod-hwmon-tmp102=m
CONFIG_PACKAGE_kmod-hwmon-tmp103=m
CONFIG_PACKAGE_kmod-hwmon-tmp421=m
CONFIG_PACKAGE_kmod-hwmon-tps23861=m
CONFIG_PACKAGE_kmod-hwmon-vid=m
CONFIG_PACKAGE_kmod-hwmon-w83793=m
CONFIG_PACKAGE_kmod-pmbus-core=m
CONFIG_PACKAGE_kmod-pmbus-zl6100=m

# Libraries
CONFIG_PACKAGE_kmod-lib-842=m
CONFIG_PACKAGE_kmod-lib-cordic=m
CONFIG_PACKAGE_kmod-lib-crc-ccitt=y
CONFIG_PACKAGE_kmod-lib-crc-itu-t=m
CONFIG_PACKAGE_kmod-lib-crc16=y
CONFIG_PACKAGE_kmod-lib-crc32c=y
CONFIG_PACKAGE_kmod-lib-crc7=m
CONFIG_PACKAGE_kmod-lib-crc8=m
CONFIG_PACKAGE_kmod-lib-lz4=y
CONFIG_PACKAGE_kmod-lib-objagg=m
CONFIG_PACKAGE_kmod-lib-parman=m
CONFIG_PACKAGE_kmod-lib-textsearch=y
CONFIG_PACKAGE_kmod-lib-zstd=y
CONFIG_PACKAGE_kmod-oid-registry=m
